##
# JetBrains
##

# IDE files
*.idea


##
# macOS
##

# File system
.DS_Store

##
# vim
##

# Swap files
[._]*.s[a-v][a-z]
!*.svg  # allow vector files
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]


##
# Xcode
##

# User settings
xcuserdata/
